<!DOCTYPE html>
<html>
<head>
  <title>Taller automotriz Lalos</title>

          
</head>

<body>
  <header>
    <h1>Taller automotriz Lalos</h1>
    <nav>
      <ul>
        
      </ul>
    </nav>
  </header>
  <main>
    <h2>Bienvenido a nuestro sitio web</h2>
      

   
    <p>En nuestro negocio ofrecemos servicios de alta calidad.</p>
    
    </ul>
    <h3></h3>
    <ul>
     
      <head>
  <style>
    h1 {
      font-size: 70px;
    }
  </style>
</head>

    </ul>
  </main>
  <footer>
 
  </footer>
</body>
</html>

</body>
<<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title></title>
</head>
<body>

<body style="background-color:white;

<head>
  <style>
    body {
      color: black;
    }
    p {
      color: black;
    }
  </style>
</head>
<body>
  <h1 style="font-size: 200px;>Servicios <li>afinaciones de motor</li>
      <li>suspension</li>
      <li>transmiciones</li>
      <li>frenos</li>
      <li>reparacion de motores</li>
      <li>direcciones asistidas (hidraulicas y electronicas)</li>
      <li>diagnostico por computadora</li>
      <li>bandas y cadenas de distribucion</li>
      <li>y mas</li>
      <li>precio y ayuda al 4731172257 y 4731225424</li>
      <li>ubicacion:lomas de san francisco #55</li>
  </h1>
  <p style="font-size: 50px;">Dale lo que merece tu coche dale TDML
</body>
<p>taller Lalos © [2023] [Taller Lalos]</p>
